.root {
    display: "flex";
    flexWrap: "wrap";
    justifyContent: "space-around";
    height: 500px;
    overflow: scroll;
    width: 50%;
    margin: 0 auto;
},
.gridList {
  width: 50%;
  height: 500;
  overflowY: 'auto';
}

.favoriteButton {
  marign-left: - 500px;
  margin-right: -10%;
}
