.style = {
  margin: 12;
  width: 133px;
  height: 297px;
  margin: auto;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}

testA = {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
